apiVersion: batch/v1
kind: Job
metadata:
  creationTimestamp: null
  name: "{{ meta.name }}-pricelist-postdeploy"
  namespace: "{{ meta.namespace }}"
spec:
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - command:
        - curl
        - -s
        - "http://{{ meta.name }}-pricelist-frontend-svc:8080/create_database.php"
        image: quay.io/redhatworkshops/pricelist:latest
        name: pricelist-postdeploy
        resources: {}
      restartPolicy: Never
