apiVersion: batch/v1
kind: Job
metadata:
  creationTimestamp: null
  name: "{{ meta.name }}-pricelist-postdeploy"
  namespace: "{{ meta.namespace }}"
spec:
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - command:
        - /bin/bash
        - -c
        - |
	  until [ $(curl -s -o /dev/null -w "%{http_code}" http://{{ meta.name }}-pricelist-frontend-svc:8080) -eq 200 ]; do echo "waiting for app to start"; sleep 5; done
	  curl -s "http://{{ meta.name }}-pricelist-frontend-svc:8080/create_database.php"
        image: quay.io/redhatworkshops/pricelist:latest
        name: pricelist-postdeploy
        resources: {}
      restartPolicy: Never
