apiVersion: v1
kind: Service
metadata:
  labels:
    app: "{{ ansible_operator_meta.name }}-pricelist"
    tier: frontend
  name: "{{ ansible_operator_meta.name }}-pricelist-frontend-svc"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: "{{ ansible_operator_meta.name }}-pricelist"
    tier: frontend
status:
  loadBalancer: {}
