apiVersion: route.openshift.io/v1
kind: Route
metadata:
  creationTimestamp: null
  labels:
    app: "{{ ansible_operator_meta.name }}-pricelist"
    tier: frontend
  name: "{{ ansible_operator_meta.name }}-pricelist"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  host: ""
  port:
    targetPort: 8080
  to:
    kind: ""
    name: "{{ ansible_operator_meta.name }}-pricelist-frontend-svc"
    weight: null
status:
  ingress: null
