apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: "{{ meta.name }}-pricelist"
    tier: frontend
  name: "{{ meta.name }}-pricelist-frontend"
  namespace: "{{ meta.namespace }}"
spec:
  replicas: {{ frontends }}
  selector:
    matchLabels:
      app: "{{ meta.name }}-pricelist"
      tier: frontend
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: "{{ meta.name }}-pricelist"
        tier: frontend
    spec:
      containers:
      - image: quay.io/redhatworkshops/pricelist:latest
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 15
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 15
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        name: "{{ meta.name }}-pricelist-frontend"
        resources: {}
        volumeMounts:
        - mountPath: /etc/pricelist/creds
          name: "{{ meta.name }}-pricelist-creds-store"
        - mountPath: /data
          name: "{{ meta.name }}-pricelist-db-conf"
      volumes:
      - name: "{{ meta.name }}-pricelist-creds-store"
        secret:
          secretName: "{{ meta.name }}-pricelist-creds"
      - name: "{{ meta.name }}-pricelist-db-conf"
        configMap:
          name: "{{ meta.name }}-pricelist-cm"
