kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "{{ meta.name }}-db-pvc"
  namespace: "{{ meta.namespace }}"
spec:
{% if dbstorageclass is defined %}
  storageClassName: "{{ dbstorageclass }}"
{% endif %}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
