apiVersion: v1
kind: Secret
metadata:
  labels:
    app: "{{ meta.name }}-pricelist"
  name: "{{ meta.name }}-pricelist-creds"
  namespace: "{{ meta.namespace }}"
type: Opaque
data:
  database: "{{ database | b64encode }}"
  dbuser: "{{ dbuser | b64encode }}"
  dbpassword: "{{ dbpassword | b64encode }}"
