---
# tasks file for pricelist
- name: Create database storage
  k8s:
    state: present
    definition: "{{ lookup('template', 'pricelist-db-pvc.yaml.j2') }}"
  when: dbstorage

- name: Wait for pvc to get bound
  k8s_info:
    api_version: v1
    kind: PersistentVolumeClaim
    name: "{{ meta.name }}-db-pvc"
    namespace: "{{ meta.namespace }}"
  register: dbpvc
  until: dbpvc | json_query('resources[0].status.phase') == "Bound"
  retries: 10
  delay: 2
  when: dbstorage

- name: Create database deployment
  k8s:
    state: present
    definition: "{{ lookup('template', 'pricelist-db.yaml.j2') }}"
  when: dbstorage

- name: Create database deployment
  k8s:
    state: present
    definition: "{{ lookup('template', 'pricelist-db-ephemeral.yaml.j2') }}"
  when: not dbstorage

- name: Create database service
  k8s:
    state: present
    definition: "{{ lookup('template', 'pricelist-db-svc.yaml.j2') }}"

- name: Wait for database to come up
  k8s_info:
    api_version: apps/v1
    kind: Deployment
    name: "{{ meta.name }}-pricelist-db"
    namespace: "{{ meta.namespace }}"
  register: dbdeploy
  until: dbdeploy | json_query('resources[0].status.readyReplicas') == 1
  retries: 20
  delay: 2

- name: Create frontend deployment
  k8s:
    state: present
    definition: "{{ lookup('template', 'pricelist-deploy.yaml.j2') }}"

- name: Create frontend service
  k8s:
    state: present
    definition: "{{ lookup('template', 'pricelist-svc.yaml.j2') }}"

- name: Wait for frontend to come up
  pause:
    seconds: 10

- name: Wait for frontend to come up
  k8s_info:
    api_version: apps/v1
    kind: Deployment
    name: "{{ meta.name }}-pricelist-frontend"
    namespace: "{{ meta.namespace }}"
  register: fedeploy
  until: fedeploy | json_query('resources[0].status.readyReplicas') == 1
  retries: 20
  delay: 2

- name: Create frontend route
  k8s:
    state: present
    definition: "{{ lookup('template', 'pricelist-route.yaml.j2') }}"

- name: Create postrun job
  k8s:
    state: present
    definition: "{{ lookup('template', 'pricelist-job.yaml.j2') }}"
